<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header.jpg') ;">
        </div>
        <div class="container">
            
            <div class="content-center mt-5"> 
                <h5 class="title">Manchester City</h5>
                <p class="category mt-5">Admin</p>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container ">
          <h3 class="title" style="text-align: center;">Fixtures
          </h3>

          <div class="row">
            <button class="btn btn-info btn-round btn-lg mx-auto text-center" type="button">
            Add an Fixture</button>
        </div>


        <!--<div class="row mt-5" *ngFor="let item of (this.getOffersObservable | async); let i = index">
            <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">{{item.name}}</h4>
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto text-center'" src="{{item.media}}"> 
            <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">{{item.price}} KM</h4>
            <h4 [ngClass]="isDesktopDevice ? 'col-2': 'col-12 mx-auto text-center'">Quantity: {{item.amount}}</h4>
            <i class="fas fa-edit" (click)="openAddEditOffer(item)" [ngClass]="isDesktopDevice ? 'col-1': 'col-12 mt-3 mx-auto text-center'"></i>
            <i class="fas fa-eraser" (click)="deleteOffers(item.id)"  [ngClass]="isDesktopDevice ? 'col-1': 'col-12 mt-5 mx-auto text-center'"></i>

            
        </div>!-->
        
        <div class="row justify-content-center mt-5">

            <button class="btn btn-info btn-round btn-lg" type="button" (click)="open('index')">Logout</button>

        </div>


        </div>
    </div>
   
</div>



