.desktop{
    width: 10%; 
    height: 10%;
    border-radius: 50%;
    margin-right: 10px;
}

.mobile{
    width: 25%; 
    height: 25%;
    border-radius: 50%;
}

.desktopManCity{
    font-size: 140%;
    font-weight: bold;
}

.mobileManCity{
    font-size: 100%;
    font-weight: bold;
}